<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件，namespace命名空间：对应一个完全的全限定名，必须和对应的接口的路径相匹配-->
<mapper namespace="com.fc.dao.StudentDao">
    <!--查找小于指定年龄的学生-->
    <select id="findLessThanAge" resultType="com.fc.entity.Student">
        select * from student where age &lt;= #{age}
    </select>
    <!--查找大于指定年龄的学生-->
    <select id="findGrateThanAge" resultType="com.fc.entity.Student">
        select * from student where age &gt;= #{age}
    </select>
</mapper>